<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="~/css/jquery-ui.css" type="text/css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.js"></script>

    <style>
        
        ul{
            list-style:none;
            width:100%;
            height:25px;
            margin:0;
            padding:0;
            
        }
        li{
            float:left;
        }
        li p{
            display:block;
        }
    </style>

</head>
<body>
    <h1>Faktura</h1>
    <div style=" width:600px;height:200px;border:2px black solid ">
        <p style="font-weight:bold">Search Options</p>
        <table style="border-spacing:0 10px;border-collapse:separate">
            <tr><td>Faktura Nummer:</td><td><input type="text" name="fakturaNummer" /> </td></tr>
            <tr><td>Leverendør:</td><td id="leverendør"> </td></tr>
            <tr><td>Fra dato:</td><td><input type="text" id="datepicker" name="fraDato" /> </td><td>Till dato:</td><td><input type="text" name="tillDato" /> </td></tr>
            <tr><td><input type="button" name="btnSearch" value="Search" /></td><td><input type="button" name="btnClear" value="Clear" /></td></tr>
        </table>
    </div>
    <div id="reportTableDiv" style="margin-top:50px">
        <table style="width:100%" id="tblList">
            <tr>
                <th>Faktura Number</th>
                <th>Leverandør Navn</th>
                <th>Attesterad Av</th>
                <th>Eventuella Kommentarer</th>

            </tr>
        </table>
    </div>
    <div>
        @using (Html.BeginForm("Export", "ExportToExcel", FormMethod.Post))
        {
            <input type="hidden" name="GridHtml" />
            <input type="submit" id="btnSubmit" value="Export" />
        }
    </div>
    <div style="margin-top:50px">
        <table>
            <tr>
                <td><input type="button" name="btnPrevious" value="Previous" /></td><td><p>Page</p></td><td><label id="lblPageNumber" for="pageNumber">1</label></td>
                <td><p>of</p></td><td><label id="lblTotalPage" for="totalPage">14457</label></td><td><input type="button" name="btnNext" value="Next" /></td>
            </tr>
        </table>
    </div>

</body>
</html>


<script>

    $(document).ready(function () {
        var tableHtml = '';
        var leverendørDropDown = $('<select id="dropdownLeverendør" />');
        var currentPage = 1;
        var pageSize = 2;
        var initialPage = 1;
        //Get Leverandør for DropBox
        $.ajax({
            type: "Get",
            url: "/api/Leverendør",
            contentType: "json",
            success: function (data) {
                $('<option />', { value: '', text: 'SELECT' }).appendTo(leverendørDropDown);
                $.each(data, function (i, item) {
                    $('<option />', { value: item.id, text: item.navn }).appendTo(leverendørDropDown);
                });
                leverendørDropDown.appendTo('#leverendør');
            }
        });
        ////Get Report List
        //function getReportList() {
        //    $('.rowInfo').remove();
        //    $.ajax({
        //        type: "Get",
        //        url: "api/GenerateReportApi",
        //        contentType: "json",
        //        success: function (data) {
        //            $.each(data, function (i, item) {
        //                tableHtml = ''
        //                tableHtml += '<tr class="rowInfo">'
        //                tableHtml += '<td>' + item.faktura_Nummer + '</td>'
        //                tableHtml += '<td>' + item.leverendør.navn + '</td>'
        //                tableHtml += '<td>' + item.leverendør.attesterad_Av + '</td>'
        //                tableHtml += '<td>' + item.leverendør.eventuella_Kommentarer + '</td>'
        //                tableHtml += '</tr>'
        //                $("#tblList").append(tableHtml);
        //            });
                   
        //        }
        //    });
        //}
        //getReportList();
        //Get Report List
        function getReportList() {
            $('.rowInfo').remove();
            var data = {
                    
                        CurrentPage: currentPage,
                        PageSize: pageSize
                    
            }
            $.ajax({
                type: "POST",
                url: "/api/GenerateReportApi",
                contentType: "application / json; charset=utf - 8",
                data: JSON.stringify(data),
                success: function (response) {
                    $.each(response, function (i, item) {
                        tableHtml = ''
                        tableHtml += '<tr class="rowInfo">'
                        tableHtml += '<td>' + item.faktura_Nummer + '</td>'
                        tableHtml += '<td>' + item.leverendør.navn + '</td>'
                        tableHtml += '<td>' + item.leverendør.attesterad_Av + '</td>'
                        tableHtml += '<td>' + item.leverendør.eventuella_Kommentarer + '</td>'
                        tableHtml += '</tr>'
                        $("#tblList").append(tableHtml);
                    });
                }
            });
        }
        getReportList();

        //Get Report Using Search Options
        function getReportListBySearch() {
            var fraDato = $("input[name='fraDato']").val();
            var tillDato = $("input[name='tillDato']").val();
            var fakturaNummer = $("input[name='fakturaNummer']").val();
            
            var leverendørId = $('#dropdownLeverendør').val();
            if (!$.isNumeric(fakturaNummer) && fakturaNummer != '') {
                alert('Faktura number should be in number format');
                $('input[name="fakturaNummer"]').val('');
                return;
            }
            var data = {
                Faktura_Nummer: fakturaNummer,
                FraDato: fraDato,
                TillDato: tillDato,
                Leverendør_Id: leverendørId,
                CurrentPage: currentPage,
                PageSize: pageSize

            }
            $.ajax({
                type: "POST",
                url: "/api/GenerateReportApi/bysearch",
                contentType: "application / json; charset=utf - 8",
                data: JSON.stringify(data),
                success: function (response) {
                    if (response != '') {
                        $('.rowInfo').remove();
                        $.each(response, function (i, item) {
                            tableHtml = ''
                            tableHtml += '<tr class="rowInfo">'
                            tableHtml += '<td>' + item.faktura_Nummer + '</td>'
                            tableHtml += '<td>' + item.leverendør.navn + '</td>'
                            tableHtml += '<td>' + item.leverendør.attesterad_Av + '</td>'
                            tableHtml += '<td>' + item.leverendør.eventuella_Kommentarer + '</td>'
                            tableHtml += '</tr>'
                            $("#tblList").append(tableHtml);
                        });
                    }
                    else {
                        $('.rowInfo').remove();
                        tableHtml = '<tr class="rowInfo"><td>No Record Was Found </td>';
                        $("#tblList").append(tableHtml);
                    }
                }
            });
        }
        $(function () {
            $('input[name="btnSearch"]').click(function (e) {
                e.preventDefault();
                currentPage = initialPage;
                getReportListBySearch();
                $('#lblPageNumber').text(currentPage);
                $('input[name="btnNext"]').attr('name', "btnNextSearch");
                $('input[name="btnPrevious"]').attr('name', "btnPreviousSearch");
            });
        });
        //$('input[name="btnSearch"]').on('click', getReportListBySearch);
        //Clear Search Fields
        function handleClearClick(e) {
            e.preventDefault();
            $('input[name="fakturaNummer"]').val('');
            $('input[name="fraDato"]').val('');
            $('input[name="tillDato"]').val('');
            $('#dropdownLeverendør').prop('selectedIndex', 0);
            currentPage = initialPage;
            getReportList();
        }
        $('input[name="btnClear"]').on('click', handleClearClick);
        var $j = jQuery.noConflict();
        $("input[name='fraDato']").datepicker();
        $("input[name='tillDato']").datepicker();
        //Expert to Excel
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#reportTableDiv").html());
            });
        });
        //Implement Paging
        $(function () {
            $('input[name="btnNext"]').click(function (e) {
                e.preventDefault();
                currentPage++;
                alert("form next  button:" + currentPage);
                getReportList();
                $('#lblPageNumber').text(currentPage);
            });
            $('input[name="btnPrevious"]').click(function (e) {
                e.preventDefault();
                currentPage--;
                getReportList();
                $('#lblPageNumber').text(currentPage);
            });
            $('input[name="btnNextSearch"]').on('click', getReportListSearchNextButton);
            $('input[name="btnPreviousSearch"]').click(function (e) {
                e.preventDefault();
                currentPage--;
                getReportListBySearch();
                $('#lblPageNumber').text(currentPage);
            });
        });
        function getReportListSearchNextButton(e) {
            e.preventDefault();
            currentPage++;
            alert("form next search button:" + currentPage);
            getReportListBySearch();
            $('#lblPageNumber').text(currentPage);
        }
    });

</script>