<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="~/css/jquery-ui.css" type="text/css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.js"></script>
    
    <style>
        tr.spaceUnder > td {
            padding-bottom: 10em;
        }

    </style>

</head>
<body>
    <h1>Faktura</h1>
    <div style=" width:600px;height:200px;border:2px black solid ">
        <p style="font-weight:bold">Search Options</p>
        <table style="border-spacing:0 10px;border-collapse:separate">
            <tr><td>Faktura Nummer:</td><td><input type="text" name="fakturaNummer" /> </td></tr>
            <tr><td>Leverendør:</td><td id="leverendør"> </td></tr>
            <tr><td>Fra dato:</td><td><input type="text" id="datepicker" name="fraDato" /> </td><td>Till dato:</td><td><input type="text" name="tillDato" /> </td></tr>
            <tr><td><input type="button" name="btnSearch" value="Search" /></td><td><input type="button" name="btnClear" value="Clear" /></td></tr>
        </table>
    </div>
    <div>
        <table style="width:100%" id="tblList">
            <tr>
                <th>Faktura Number</th>
                <th>Leverandør Navn</th>
                <th>Attesterad Av</th>
                <th>Eventuella Kommentarer</th>

            </tr>
        </table>
    </div>
</body>
</html>


<script>
    
    $(document).ready(function () {
        var tableHtml = '';
        var leverendørDropDown = $('<select id="dropdownLeverendør" />');
//Get Leverandør for DropBox
        $.ajax({
            type: "Get",
            url: "/api/Leverendør",
            contentType: "json",
            success: function (data) {
                $('<option />', { value: '', text: 'SELECT' }).appendTo(leverendørDropDown);
                $.each(data, function (i, item) {
                    $('<option />', { value: item.id, text: item.navn }).appendTo(leverendørDropDown);
                });
                leverendørDropDown.appendTo('#leverendør');
            }
        });
 //Get Report List       
        function getReportList() {
            $('.rowInfo').remove();
            $.ajax({
                type: "Get",
                url: "api/GenerateReportApi",
                contentType: "json",
                success: function (data) {
                    $.each(data, function (i, item) {
                        tableHtml = ''
                        tableHtml += '<tr class="rowInfo">'
                        tableHtml += '<td>' + item.faktura_Nummer + '</td>'
                        tableHtml += '<td>' + item.leverendør.navn + '</td>'
                        tableHtml += '<td>' + item.leverendør.attesterad_Av + '</td>'
                        tableHtml += '<td>' + item.leverendør.eventuella_Kommentarer + '</td>'
                        tableHtml += '</tr>'
                        $("#tblList").append(tableHtml);
                    });
                    $("#tblList").append('<tr><td><input type="button" name="btnExcel" value="Export To Excel"/></td></tr>');
                }
            });
        }
        getReportList();
        
 //Get Report Using Search Options  
        function handleSearchClick(e) {
            e.preventDefault();
            var fraDato = $("input[name='fraDato']").val();
            var tillDato = $("input[name='tillDato']").val();
            var fakturaNummer = $("input[name='fakturaNummer']").val();
            var leverendørId = $('#dropdownLeverendør').val();
            if (!$.isNumeric(fakturaNummer) && fakturaNummer!='') {
                alert('Faktura number should be in number format');
                $('input[name="fakturaNummer"]').val('');
                return;
            }
            var data = {
                Faktura_Nummer: fakturaNummer,
                FraDato: fraDato,
                TillDato: tillDato,
                Leverendør_Id: leverendørId
            }
            $.ajax({
                type: "POST",
                url: "/api/GenerateReportApi/byfakturanummer",
                contentType: "application / json; charset=utf - 8",
                data: JSON.stringify(data),
                success: function (response) {
                    if (response != '') {
                        $('.rowInfo').remove();
                        $.each(response, function (i, item) {
                            tableHtml = ''
                            tableHtml += '<tr class="rowInfo">'
                            tableHtml += '<td>' + item.faktura_Nummer + '</td>'
                            tableHtml += '<td>' + item.leverendør.navn + '</td>'
                            tableHtml += '<td>' + item.leverendør.attesterad_Av + '</td>'
                            tableHtml += '<td>' + item.leverendør.eventuella_Kommentarer + '</td>'
                            tableHtml += '</tr>'
                            $("#tblList").append(tableHtml);
                        });
                    }
                    else {
                        $('.rowInfo').remove();
                        tableHtml = '<tr class="rowInfo"><td>No Record Was Found </td>';
                        $("#tblList").append(tableHtml);
                    }
                }
            });
        }
        $('input[name="btnSearch"]').on('click', handleSearchClick);
 //Clear Search Fields
        function handleClearClick(e) {
            e.preventDefault();
            $('input[name="fakturaNummer"]').val('');
            $('input[name="fraDato"]').val('');
            $('input[name="tillDato"]').val('');
            $('#dropdownLeverendør').prop('selectedIndex', 0);
            getReportList();
        }
        $('input[name="btnClear"]').on('click', handleClearClick);
        var $j = jQuery.noConflict();
        $("input[name='fraDato']").datepicker();
        $("input[name='tillDato']").datepicker();
//Export to Excel
        function exportToExcel(e) {
            e.preventDefault();
            alert('hi');
        }
       
        $(document).on('click', 'input[name="btnExcel"]', function () {
            
        });
    });
    
</script>